In [27]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df
import ast

In [13]:
chicago_restaurants= "/Users/samanthabastien/Desktop/Desktop - Samanthaâ€™s MacBook Pro/fall 2023/tastebudz/repository/tastebudz/dataset/yelp_dataset/chicago_restaurants.csv"
df = pd.read_csv(chicago_restaurants)
df.dtypes

Unnamed: 0        int64
id               object
name             object
review_count      int64
categories       object
rating          float64
coordinates      object
price            object
location         object
dtype: object

In [30]:
# Define a function to convert string representations to dictionaries using ast.literal_eval
def convert_to_type(text):
    try:
        return ast.literal_eval(text)
    except (ValueError, SyntaxError):
        return text  # Return the original value if the conversion fails

# Apply the function to specific columns in your DataFrame
columns_to_convert = ['id', 'name', 'categories', 'coordinates', 'price', 'location']
for column in columns_to_convert:
    df[column] = df[column].apply(convert_to_type)
display(df)

TypeError: type 'DataFrame' is not subscriptable

In [26]:
display(df)

None

In [25]:
df['categories'] = df['categories'].apply(lambda x: [d['alias'] for d in x])

TypeError: 'NoneType' object is not subscriptable