# Restaurants

In [2]:
import pandas as pd
chicago_restaurants= "/Users/samanthabastien/Desktop/Desktop - Samantha’s MacBook Pro/fall 2023/tastebudz/repository/tastebudz/dataset/yelp/chicago_restaurants.csv"
restaurants_df = pd.read_csv(chicago_restaurants)
restaurants_df.drop(columns=['Unnamed: 0'], inplace=True)
restaurants_df

,id,name,review_count,categories,rating,coordinates,price,location
0,qjnpkS8yZO8xcyEIy5OU9A,Girl & The Goat,9964,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.88418081770163, 'longitude': -...",$$$,"{'address1': '809 W Randolph', 'address2': '',..."
1,boE4Ahsssqic7o5wQLI04w,The Purple Pig,8287,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...",4.5,"{'latitude': 41.890694, 'longitude': -87.624782}",$$$,"{'address1': '444 N Michigan Ave', 'address2':..."
2,okaqMJEoHfHblpKz9Q-CMA,The Perch,454,"[{'alias': 'breweries', 'title': 'Breweries'},...",4.5,"{'latitude': 41.90348, 'longitude': -87.676221}",$$,"{'address1': '1932 W Division', 'address2': No..."
3,hMNHD9LHs_R3vFCfTOGorw,Izakaya Shinya,63,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.5,"{'latitude': 41.91014, 'longitude': -87.68452}",NaN,"{'address1': '2255 W North Ave', 'address2': N..."
4,W2QV6SILHer3qB_-CZ1z1A,etta - Bucktown,1034,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 41.910731, 'longitude': -87.674285}",$$$,"{'address1': '1840 W North Ave', 'address2': N..."
...,...,...,...,...,...,...,...,...
945,XHGWwHgX9p8dn2nOhqfJoQ,Little Wok Wicker Park,109,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.0,"{'latitude': 41.90351, 'longitude': -87.6768}",$$,"{'address1': '1950 W Division St', 'address2':..."
946,KVXeukiPVOwrOMuD4mM7ug,Tandoor Char House,12,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...",4.5,"{'latitude': 41.90009, 'longitude': -87.68733}",NaN,"{'address1': '1022 N Western Ave', 'address2':..."
947,8YZUf9XTc9Z2jW5adHE5nA,Shabu Plus Rotary Hot Pot Wicker Park,73,"[{'alias': 'hotpot', 'title': 'Hot Pot'}]",4.5,"{'latitude': 41.9062306, 'longitude': -87.6713...",$$$,"{'address1': '1352 N Milwaukee Ave', 'address2..."
948,EYjyi_lytYaM1Ty7-kNKSg,Phodega,245,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.5,"{'latitude': 41.90334127310094, 'longitude': -...",$$,"{'address1': '1924 W Division St', 'address2':..."
949,UzksnYYQvh2tThSGTqUslA,2AM Izakaya,31,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.5,"{'latitude': 41.92228, 'longitude': -87.64465}",NaN,"{'address1': '2218 N Lincoln Ave', 'address2':..."

In [3]:
restaurants_df['price'] = restaurants_df['price'].apply(lambda p: len(str(p)))
restaurants_df

,id,name,review_count,categories,rating,coordinates,price,location
0,qjnpkS8yZO8xcyEIy5OU9A,Girl & The Goat,9964,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.88418081770163, 'longitude': -...",3,"{'address1': '809 W Randolph', 'address2': '',..."
1,boE4Ahsssqic7o5wQLI04w,The Purple Pig,8287,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...",4.5,"{'latitude': 41.890694, 'longitude': -87.624782}",3,"{'address1': '444 N Michigan Ave', 'address2':..."
2,okaqMJEoHfHblpKz9Q-CMA,The Perch,454,"[{'alias': 'breweries', 'title': 'Breweries'},...",4.5,"{'latitude': 41.90348, 'longitude': -87.676221}",2,"{'address1': '1932 W Division', 'address2': No..."
3,hMNHD9LHs_R3vFCfTOGorw,Izakaya Shinya,63,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.5,"{'latitude': 41.91014, 'longitude': -87.68452}",3,"{'address1': '2255 W North Ave', 'address2': N..."
4,W2QV6SILHer3qB_-CZ1z1A,etta - Bucktown,1034,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 41.910731, 'longitude': -87.674285}",3,"{'address1': '1840 W North Ave', 'address2': N..."
...,...,...,...,...,...,...,...,...
945,XHGWwHgX9p8dn2nOhqfJoQ,Little Wok Wicker Park,109,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.0,"{'latitude': 41.90351, 'longitude': -87.6768}",2,"{'address1': '1950 W Division St', 'address2':..."
946,KVXeukiPVOwrOMuD4mM7ug,Tandoor Char House,12,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...",4.5,"{'latitude': 41.90009, 'longitude': -87.68733}",3,"{'address1': '1022 N Western Ave', 'address2':..."
947,8YZUf9XTc9Z2jW5adHE5nA,Shabu Plus Rotary Hot Pot Wicker Park,73,"[{'alias': 'hotpot', 'title': 'Hot Pot'}]",4.5,"{'latitude': 41.9062306, 'longitude': -87.6713...",3,"{'address1': '1352 N Milwaukee Ave', 'address2..."
948,EYjyi_lytYaM1Ty7-kNKSg,Phodega,245,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.5,"{'latitude': 41.90334127310094, 'longitude': -...",2,"{'address1': '1924 W Division St', 'address2':..."
949,UzksnYYQvh2tThSGTqUslA,2AM Izakaya,31,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.5,"{'latitude': 41.92228, 'longitude': -87.64465}",3,"{'address1': '2218 N Lincoln Ave', 'address2':..."

In [5]:
import ast
address = []
city = []
state = []
country = []
zipcode = []
for idx, row in restaurants_df.iterrows():
    location = ast.literal_eval(row['location'])
    address.append(location['address1'])
    city.append(location['city'])
    state.append(location['state'])
    country.append(location['country'])
    zipcode.append(location['zip_code'])
    
address_df = pd.DataFrame(address).rename(columns={0: 'address'})
city_df = pd.DataFrame(city).rename(columns={0: 'city'})
state_df = pd.DataFrame(state).rename(columns={0: 'state'})
country_df = pd.DataFrame(country).rename(columns={0: 'country'})
zip_code_df = pd.DataFrame(zipcode).rename(columns={0: 'zip_code'})

In [6]:
lat = []
long = []
for idx, row in restaurants_df.iterrows():
    coord = ast.literal_eval(row['coordinates'])
    lat.append(coord['latitude'])
    long.append(coord['longitude'])
    
lat_df = pd.DataFrame(lat).rename(columns={0: 'latitude'})
long_df = pd.DataFrame(long).rename(columns={0: 'longitude'})

In [7]:
categories_hash = {}
for idx, row in enumerate(restaurants_df['categories']):
    lst = []
    rows = ast.literal_eval(row)
    for cat in rows:
        lst.append(cat['title'])
        
    categories_hash[idx] = ", ".join(lst)
categories_df = pd.DataFrame.from_dict(categories_hash, orient='index').rename(columns={0: 'cuisines'})

In [8]:
cuis = categories_df['cuisines'].str.split(", ")
cuisines_dummies = pd.get_dummies(cuis.apply(pd.Series).stack()).sum(level=0)

/var/folders/m_/p8_lfkkn7k9209w5x8zcbn3m0000gn/T/ipykernel_86143/2569360512.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  cuisines_dummies = pd.get_dummies(cuis.apply(pd.Series).stack()).sum(level=0)

In [9]:
transaction_df = pd.DataFrame(restaurants_df['transactions'].apply(lambda x: ", ".join(ast.literal_eval(x)) if len(ast.literal_eval(x)) > 0 else "none"))
trans = transaction_df['transactions'].str.split(", ")
transaction_dummies = pd.get_dummies(trans.apply(pd.Series).stack()).sum(level=0)

KeyError: 'transactions'

In [13]:
restaurants_sim_df = pd.concat([restaurants_df, lat_df, long_df, address_df, city_df, state_df, country_df, zip_code_df, cuisines_dummies], axis=1).drop(columns=['categories', 'coordinates', 'location', '_id', 'id', 'alias', 'name', 'image_url', 'url', 'review_count','display_phone', 'address', 'city', 'state', 'country','zip_code', 'distance', 'delivery', 'none', 'pickup', 'restaurant_reservation'])
restaurants_sim_df

,id,name,review_count,categories,rating,coordinates,price,location,latitude,longitude,...,Tacos,Tapas/Small Plates,Tex-Mex,Thai,Turkish,Venues & Event Spaces,Vietnamese,Whiskey Bars,Wine & Spirits,Wine Bars
0,qjnpkS8yZO8xcyEIy5OU9A,Girl & The Goat,9964,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.88418081770163, 'longitude': -...",3,"{'address1': '809 W Randolph', 'address2': '',...",41.884181,-87.647947,...,0,0,0,0,0,0,0,0,0,0
1,boE4Ahsssqic7o5wQLI04w,The Purple Pig,8287,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...",4.5,"{'latitude': 41.890694, 'longitude': -87.624782}",3,"{'address1': '444 N Michigan Ave', 'address2':...",41.890694,-87.624782,...,0,1,0,0,0,0,0,0,0,0
2,okaqMJEoHfHblpKz9Q-CMA,The Perch,454,"[{'alias': 'breweries', 'title': 'Breweries'},...",4.5,"{'latitude': 41.90348, 'longitude': -87.676221}",2,"{'address1': '1932 W Division', 'address2': No...",41.903480,-87.676221,...,0,0,0,0,0,0,0,0,0,0
3,hMNHD9LHs_R3vFCfTOGorw,Izakaya Shinya,63,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.5,"{'latitude': 41.91014, 'longitude': -87.68452}",3,"{'address1': '2255 W North Ave', 'address2': N...",41.910140,-87.684520,...,0,0,0,0,0,0,0,0,0,0
4,W2QV6SILHer3qB_-CZ1z1A,etta - Bucktown,1034,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 41.910731, 'longitude': -87.674285}",3,"{'address1': '1840 W North Ave', 'address2': N...",41.910731,-87.674285,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,XHGWwHgX9p8dn2nOhqfJoQ,Little Wok Wicker Park,109,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.0,"{'latitude': 41.90351, 'longitude': -87.6768}",2,"{'address1': '1950 W Division St', 'address2':...",41.903510,-87.676800,...,0,0,0,0,0,0,0,0,0,0
946,KVXeukiPVOwrOMuD4mM7ug,Tandoor Char House,12,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...",4.5,"{'latitude': 41.90009, 'longitude': -87.68733}",3,"{'address1': '1022 N Western Ave', 'address2':...",41.900090,-87.687330,...,0,0,0,0,0,0,0,0,0,0
947,8YZUf9XTc9Z2jW5adHE5nA,Shabu Plus Rotary Hot Pot Wicker Park,73,"[{'alias': 'hotpot', 'title': 'Hot Pot'}]",4.5,"{'latitude': 41.9062306, 'longitude': -87.6713...",3,"{'address1': '1352 N Milwaukee Ave', 'address2...",41.906231,-87.671394,...,0,0,0,0,0,0,0,0,0,0
948,EYjyi_lytYaM1Ty7-kNKSg,Phodega,245,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.5,"{'latitude': 41.90334127310094, 'longitude': -...",2,"{'address1': '1924 W Division St', 'address2':...",41.903341,-87.675873,...,0,0,0,0,0,0,1,0,0,0
949,UzksnYYQvh2tThSGTqUslA,2AM Izakaya,31,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.5,"{'latitude': 41.92228, 'longitude': -87.64465}",3,"{'address1': '2218 N Lincoln Ave', 'address2':...",41.922280,-87.644650,...,0,0,0,0,0,0,0,0,0,0

# User Reviews

In [9]:
user_reviews_df = pd.read_csv('data/user_reviews.csv')
user_reviews_df.drop(columns=['Unnamed: 0'], inplace=True)
user_reviews_df

,_id,id,url,text,rating,time_created,user
0,5e727e98fc4274bf7ac0b605,WnID6ZjQfcjdYr13TV24xQ,https://www.yelp.com/biz/fog-harbor-fish-house...,Omg if I could give this place more stars I WO...,5,2020-03-13 19:41:09,"{'id': 'eahdnZ1D2YD9OqkHU53Iow', 'profile_url'..."
1,5e727e98fc4274bf7ac0b606,sdcO_t0un1J7Wb2ohQ3qqg,https://www.yelp.com/biz/fog-harbor-fish-house...,Fog harbor was pretty good. We shared half a c...,4,2020-03-09 16:42:33,"{'id': 'DQhlYtmUQATLAleuKQosKw', 'profile_url'..."
2,5e727e98fc4274bf7ac0b607,u4aDtp9BYQk4hL4Ty9VI3w,https://www.yelp.com/biz/fog-harbor-fish-house...,I'm so happy this place lived up to the hype! ...,5,2020-03-09 13:04:43,"{'id': '1v2uYP_KhrA1a1BFsON-aQ', 'profile_url'..."
3,5e727e98fc4274bf7ac0b608,7s7GqVzDaml3n-tWIdvZSg,https://www.yelp.com/biz/the-house-san-francis...,I had high expectations about this place becau...,5,2020-03-04 20:40:32,"{'id': '7tcjiB6EryTpieKgsSxz2Q', 'profile_url'..."
4,5e727e98fc4274bf7ac0b609,0HnIMYxyQN3qo-oZXyGFdg,https://www.yelp.com/biz/the-house-san-francis...,"In our most recent trip to San Francisco, as t...",4,2020-03-14 08:51:00,"{'id': 'M0OfxGsd--mNhKFxiyla8w', 'profile_url'..."
...,...,...,...,...,...,...,...
2991,5e727e99fc4274bf7ac0c1b4,b0peUmN6E-5wr6mWNykLIA,https://www.yelp.com/biz/noren-izakaya-san-fra...,Out of 5 stars\nEntrance & Welcome: 5\nFood Qu...,5,2020-03-08 21:04:04,"{'id': '6BABpco5nmw20vPehLSF3g', 'profile_url'..."
2992,5e727e99fc4274bf7ac0c1b5,LlWYWIY_2aLMa9K8-UiQwg,https://www.yelp.com/biz/noren-izakaya-san-fra...,Noren is a rare walk into a Tokyo bar right he...,5,2020-02-06 08:57:21,"{'id': '9djchRbqRnmyhq4X808k-w', 'profile_url'..."
2993,5e727e99fc4274bf7ac0c1b6,rPXwV8n2vFYclz_nox3gZQ,https://www.yelp.com/biz/sini-san-francisco-3?...,Catered lunch for 19 from Sini last Monday (11...,5,2019-11-23 15:23:18,"{'id': 'u92jV0zgxyYBIcJdDbL7aA', 'profile_url'..."
2994,5e727e99fc4274bf7ac0c1b7,KU-A_BFMwR_HAHH-7gEsHw,https://www.yelp.com/biz/sini-san-francisco-3?...,"Food is alright, but UberEats functionality is...",1,2020-03-10 16:48:52,"{'id': 'ID1hO_IiIDS8UEYtHizlMw', 'profile_url'..."
2995,5e727e99fc4274bf7ac0c1b8,FswssiLPaQUS0BjcWXFvuA,https://www.yelp.com/biz/sini-san-francisco-3?...,"The freshly baked, straight-out-of-the-oven pi...",4,2020-01-27 22:21:25,"{'id': 'hgaChGBAZXo2dOWdvJfLDw', 'profile_url'..."

In [10]:
user_reviews_df['user_id'] = user_reviews_df['user'].apply(lambda x: ast.literal_eval(x)['id'])
user_reviews_df

,_id,id,url,text,rating,time_created,user,user_id
0,5e727e98fc4274bf7ac0b605,WnID6ZjQfcjdYr13TV24xQ,https://www.yelp.com/biz/fog-harbor-fish-house...,Omg if I could give this place more stars I WO...,5,2020-03-13 19:41:09,"{'id': 'eahdnZ1D2YD9OqkHU53Iow', 'profile_url'...",eahdnZ1D2YD9OqkHU53Iow
1,5e727e98fc4274bf7ac0b606,sdcO_t0un1J7Wb2ohQ3qqg,https://www.yelp.com/biz/fog-harbor-fish-house...,Fog harbor was pretty good. We shared half a c...,4,2020-03-09 16:42:33,"{'id': 'DQhlYtmUQATLAleuKQosKw', 'profile_url'...",DQhlYtmUQATLAleuKQosKw
2,5e727e98fc4274bf7ac0b607,u4aDtp9BYQk4hL4Ty9VI3w,https://www.yelp.com/biz/fog-harbor-fish-house...,I'm so happy this place lived up to the hype! ...,5,2020-03-09 13:04:43,"{'id': '1v2uYP_KhrA1a1BFsON-aQ', 'profile_url'...",1v2uYP_KhrA1a1BFsON-aQ
3,5e727e98fc4274bf7ac0b608,7s7GqVzDaml3n-tWIdvZSg,https://www.yelp.com/biz/the-house-san-francis...,I had high expectations about this place becau...,5,2020-03-04 20:40:32,"{'id': '7tcjiB6EryTpieKgsSxz2Q', 'profile_url'...",7tcjiB6EryTpieKgsSxz2Q
4,5e727e98fc4274bf7ac0b609,0HnIMYxyQN3qo-oZXyGFdg,https://www.yelp.com/biz/the-house-san-francis...,"In our most recent trip to San Francisco, as t...",4,2020-03-14 08:51:00,"{'id': 'M0OfxGsd--mNhKFxiyla8w', 'profile_url'...",M0OfxGsd--mNhKFxiyla8w
...,...,...,...,...,...,...,...,...
2991,5e727e99fc4274bf7ac0c1b4,b0peUmN6E-5wr6mWNykLIA,https://www.yelp.com/biz/noren-izakaya-san-fra...,Out of 5 stars\nEntrance & Welcome: 5\nFood Qu...,5,2020-03-08 21:04:04,"{'id': '6BABpco5nmw20vPehLSF3g', 'profile_url'...",6BABpco5nmw20vPehLSF3g
2992,5e727e99fc4274bf7ac0c1b5,LlWYWIY_2aLMa9K8-UiQwg,https://www.yelp.com/biz/noren-izakaya-san-fra...,Noren is a rare walk into a Tokyo bar right he...,5,2020-02-06 08:57:21,"{'id': '9djchRbqRnmyhq4X808k-w', 'profile_url'...",9djchRbqRnmyhq4X808k-w
2993,5e727e99fc4274bf7ac0c1b6,rPXwV8n2vFYclz_nox3gZQ,https://www.yelp.com/biz/sini-san-francisco-3?...,Catered lunch for 19 from Sini last Monday (11...,5,2019-11-23 15:23:18,"{'id': 'u92jV0zgxyYBIcJdDbL7aA', 'profile_url'...",u92jV0zgxyYBIcJdDbL7aA
2994,5e727e99fc4274bf7ac0c1b7,KU-A_BFMwR_HAHH-7gEsHw,https://www.yelp.com/biz/sini-san-francisco-3?...,"Food is alright, but UberEats functionality is...",1,2020-03-10 16:48:52,"{'id': 'ID1hO_IiIDS8UEYtHizlMw', 'profile_url'...",ID1hO_IiIDS8UEYtHizlMw
2995,5e727e99fc4274bf7ac0c1b8,FswssiLPaQUS0BjcWXFvuA,https://www.yelp.com/biz/sini-san-francisco-3?...,"The freshly baked, straight-out-of-the-oven pi...",4,2020-01-27 22:21:25,"{'id': 'hgaChGBAZXo2dOWdvJfLDw', 'profile_url'...",hgaChGBAZXo2dOWdvJfLDw

In [11]:
user_reviews_df['slug'] = user_reviews_df['url'].apply(lambda x: x.split("/biz/")[1].split("?")[0])
user_reviews_df

,_id,id,url,text,rating,time_created,user,user_id,slug
0,5e727e98fc4274bf7ac0b605,WnID6ZjQfcjdYr13TV24xQ,https://www.yelp.com/biz/fog-harbor-fish-house...,Omg if I could give this place more stars I WO...,5,2020-03-13 19:41:09,"{'id': 'eahdnZ1D2YD9OqkHU53Iow', 'profile_url'...",eahdnZ1D2YD9OqkHU53Iow,fog-harbor-fish-house-san-francisco-2
1,5e727e98fc4274bf7ac0b606,sdcO_t0un1J7Wb2ohQ3qqg,https://www.yelp.com/biz/fog-harbor-fish-house...,Fog harbor was pretty good. We shared half a c...,4,2020-03-09 16:42:33,"{'id': 'DQhlYtmUQATLAleuKQosKw', 'profile_url'...",DQhlYtmUQATLAleuKQosKw,fog-harbor-fish-house-san-francisco-2
2,5e727e98fc4274bf7ac0b607,u4aDtp9BYQk4hL4Ty9VI3w,https://www.yelp.com/biz/fog-harbor-fish-house...,I'm so happy this place lived up to the hype! ...,5,2020-03-09 13:04:43,"{'id': '1v2uYP_KhrA1a1BFsON-aQ', 'profile_url'...",1v2uYP_KhrA1a1BFsON-aQ,fog-harbor-fish-house-san-francisco-2
3,5e727e98fc4274bf7ac0b608,7s7GqVzDaml3n-tWIdvZSg,https://www.yelp.com/biz/the-house-san-francis...,I had high expectations about this place becau...,5,2020-03-04 20:40:32,"{'id': '7tcjiB6EryTpieKgsSxz2Q', 'profile_url'...",7tcjiB6EryTpieKgsSxz2Q,the-house-san-francisco
4,5e727e98fc4274bf7ac0b609,0HnIMYxyQN3qo-oZXyGFdg,https://www.yelp.com/biz/the-house-san-francis...,"In our most recent trip to San Francisco, as t...",4,2020-03-14 08:51:00,"{'id': 'M0OfxGsd--mNhKFxiyla8w', 'profile_url'...",M0OfxGsd--mNhKFxiyla8w,the-house-san-francisco
...,...,...,...,...,...,...,...,...,...
2991,5e727e99fc4274bf7ac0c1b4,b0peUmN6E-5wr6mWNykLIA,https://www.yelp.com/biz/noren-izakaya-san-fra...,Out of 5 stars\nEntrance & Welcome: 5\nFood Qu...,5,2020-03-08 21:04:04,"{'id': '6BABpco5nmw20vPehLSF3g', 'profile_url'...",6BABpco5nmw20vPehLSF3g,noren-izakaya-san-francisco
2992,5e727e99fc4274bf7ac0c1b5,LlWYWIY_2aLMa9K8-UiQwg,https://www.yelp.com/biz/noren-izakaya-san-fra...,Noren is a rare walk into a Tokyo bar right he...,5,2020-02-06 08:57:21,"{'id': '9djchRbqRnmyhq4X808k-w', 'profile_url'...",9djchRbqRnmyhq4X808k-w,noren-izakaya-san-francisco
2993,5e727e99fc4274bf7ac0c1b6,rPXwV8n2vFYclz_nox3gZQ,https://www.yelp.com/biz/sini-san-francisco-3?...,Catered lunch for 19 from Sini last Monday (11...,5,2019-11-23 15:23:18,"{'id': 'u92jV0zgxyYBIcJdDbL7aA', 'profile_url'...",u92jV0zgxyYBIcJdDbL7aA,sini-san-francisco-3
2994,5e727e99fc4274bf7ac0c1b7,KU-A_BFMwR_HAHH-7gEsHw,https://www.yelp.com/biz/sini-san-francisco-3?...,"Food is alright, but UberEats functionality is...",1,2020-03-10 16:48:52,"{'id': 'ID1hO_IiIDS8UEYtHizlMw', 'profile_url'...",ID1hO_IiIDS8UEYtHizlMw,sini-san-francisco-3
2995,5e727e99fc4274bf7ac0c1b8,FswssiLPaQUS0BjcWXFvuA,https://www.yelp.com/biz/sini-san-francisco-3?...,"The freshly baked, straight-out-of-the-oven pi...",4,2020-01-27 22:21:25,"{'id': 'hgaChGBAZXo2dOWdvJfLDw', 'profile_url'...",hgaChGBAZXo2dOWdvJfLDw,sini-san-francisco-3

In [12]:
reviews_df = user_reviews_df.groupby('slug').agg({'text': ' '.join}).reset_index()
reviews_df

,slug,text
0,1428-haight-patio-cafe-and-crepery-san-francisco,I've been coming to this place regularly for y...
1,1601-bar-and-kitchen-san-francisco,"After watching ""Check Please"" and seeing the i..."
2,1608-bistro-san-francisco,"Small spot, big heart with flavors that are ha..."
3,1760-san-francisco,"Came here, not expecting much other than good ..."
4,20-spot-san-francisco,I've been to 20 Spot almost a dozen times. It'...
...,...,...
993,zazang-korean-noodles-san-francisco,Pretty good\n\nAlso good for take out \n\nThe ...
994,zazie-san-francisco,Ooo the good things about Zazie are true. Usua...
995,zen-yai-thai-restaurant-san-francisco,"When it comes to cuisines around the world, Th..."
996,zero-zero-san-francisco,"I was pleasantly surprised to find good, not-t..."
997,zuni-caf%C3%A9-san-francisco-3,We just had another wonderful meal at Zuni. To...

In [13]:
from nltk.corpus import stopwords
import string
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

stopwords_ = set(stopwords.words('english'))
punctuation_ = set(string.punctuation)

def filter_tokens(sent):
    return([w for w in sent if not w in stopwords_ and not w in punctuation_])

def cleaned_text(string):
    word_list = []
    sent_tokens = sent_tokenize(string)
    tokens = [sent for sent in map(word_tokenize, sent_tokens)]
    
    tokens_lower = [[word.lower() for word in sent]
                 for sent in tokens]
    tokens_filtered = list(map(filter_tokens, tokens_lower))
    for tlist in tokens_filtered:
        for w in tlist:
            if w != '...':
                word_list.append(w)
            
    return " ".join(word_list)

[nltk_data] Downloading package words to
[nltk_data]     /Users/yuewengmak/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [14]:
reviews_df['cleaned_text'] = reviews_df['text'].apply(lambda t: cleaned_text(t))

In [15]:
users = []
for idx, row in user_reviews_df.iterrows():
    ruser = ast.literal_eval(row['user'])
    users.append(ruser)
    
user_df = pd.DataFrame(users)
user_df.drop_duplicates(keep='first',inplace=True)
user_df

,id,profile_url,image_url,name
0,eahdnZ1D2YD9OqkHU53Iow,https://www.yelp.com/user_details?userid=eahdn...,https://s3-media2.fl.yelpcdn.com/photo/Emfxabx...,Jasmine H.
1,DQhlYtmUQATLAleuKQosKw,https://www.yelp.com/user_details?userid=DQhlY...,https://s3-media2.fl.yelpcdn.com/photo/yyAKF8B...,Michael A.
2,1v2uYP_KhrA1a1BFsON-aQ,https://www.yelp.com/user_details?userid=1v2uY...,https://s3-media3.fl.yelpcdn.com/photo/reS32NG...,M N.
3,7tcjiB6EryTpieKgsSxz2Q,https://www.yelp.com/user_details?userid=7tcji...,https://s3-media2.fl.yelpcdn.com/photo/YTxaw0N...,Jamine M.
4,M0OfxGsd--mNhKFxiyla8w,https://www.yelp.com/user_details?userid=M0Ofx...,https://s3-media4.fl.yelpcdn.com/photo/K3VoH5X...,Stephanie A.
...,...,...,...,...
2987,hpPBZvHBcSxHpxTWIEfydw,https://www.yelp.com/user_details?userid=hpPBZ...,https://s3-media4.fl.yelpcdn.com/photo/88UO1aL...,Lauren K.
2989,a2wL432MCURrkqWbgoDVrg,https://www.yelp.com/user_details?userid=a2wL4...,https://s3-media1.fl.yelpcdn.com/photo/ZFGCbn2...,Spring L.
2992,9djchRbqRnmyhq4X808k-w,https://www.yelp.com/user_details?userid=9djch...,https://s3-media1.fl.yelpcdn.com/photo/Dr8l-Cd...,Luke S.
2993,u92jV0zgxyYBIcJdDbL7aA,https://www.yelp.com/user_details?userid=u92jV...,https://s3-media1.fl.yelpcdn.com/photo/Q3k-XW1...,Jay A.
2994,ID1hO_IiIDS8UEYtHizlMw,https://www.yelp.com/user_details?userid=ID1hO...,https://s3-media1.fl.yelpcdn.com/photo/Qb0Hvaf...,Bryan S.

In [16]:
pvtable = pd.DataFrame(index=user_df['id'], columns=restaurants_df['id']).fillna(0)
for userid, row in pvtable.iterrows():
    selected_user_rows = user_reviews_df[user_reviews_df['user_id'] == userid]
    for idx, user_row in selected_user_rows.iterrows():
        user_rest_slug = user_row['url'].split("/biz/")[1].split("?")[0]
        restaurant_row = restaurants_df[restaurants_df['alias'] == user_rest_slug]
        restaurant_id = restaurant_row['id']
        pvtable.loc[userid, restaurant_id] = user_row['rating']
pvtable

id,f-m7-hyFzkf0HSEeQ2s-9A,ZoZjbOYR-apY8XvommlNUA,z4g4bZPR-Z8bFlwv9APl2w,XQLmEdXoMzOpffwoFaBtaQ,gqVl3RprESEqkIPeJH0yOg,8kck3-K4zYKTJbJko0JlXQ,9Z9EETl8fZIP4s9KOHr5kg,bH8FgQYhxkj5qQ4wL7vPFA,HHtpR0RslupSQ99GIIwW5A,HaAb_L9zVNLjJwrBkSf_Vw,...,pocVe2xSz38GVH_ctMpq4Q,-h3g7n0ZUDcp8fcp_ffj3Q,LUcXOcruH0H4cG72X0pmBA,kTVA5pzd1LJUpG4TI8aFdQ,nTyrnvlxSd9w8PAIqHbAGw,vVZRmqx4IYijzva5K_1sGg,SdGtfr9n1rgRXxNRMfqxzQ,D9XAV5LglKogbZc5vOrLEg,mLAg6fPXuO2_QV-IEfGsYA,IFixCW55AIdKNuYI9M78KQ
id,,,,,,,,,,,,,,,,,,,,,
eahdnZ1D2YD9OqkHU53Iow,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DQhlYtmUQATLAleuKQosKw,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1v2uYP_KhrA1a1BFsON-aQ,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7tcjiB6EryTpieKgsSxz2Q,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
M0OfxGsd--mNhKFxiyla8w,0,4,0,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
hpPBZvHBcSxHpxTWIEfydw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,0,0
a2wL432MCURrkqWbgoDVrg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,0,0
9djchRbqRnmyhq4X808k-w,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
u92jV0zgxyYBIcJdDbL7aA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
ID1hO_IiIDS8UEYtHizlMw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Recommender System

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(restaurants_sim_df, restaurants_sim_df)
cos_sim

ValueError: could not convert string to float: 'qjnpkS8yZO8xcyEIy5OU9A'

In [4]:
title = 'Fog Harbor Fish House'
print("Restaurant: {}".format(title))

index = restaurants_df[restaurants_df['name'] == title].index

indices = cos_sim[index][0].argsort()[::-1][:11]

for ind in indices:
    if ind != index:
        print(restaurants_df.iloc[ind]['name'])

Restaurant: Fog Harbor Fish House

NameError: name 'cos_sim' is not defined

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = reviews_df['cleaned_text']

tf = CountVectorizer()

document_tf_matrix = tf.fit_transform(corpus)
doc_sim = cosine_similarity(document_tf_matrix, document_tf_matrix)

In [20]:
title = 'Benu'
print("Restaurant: {}".format(title))

index = restaurants_df[restaurants_df['name'] == title].index

indices = doc_sim[index][0].argsort()[::-1][:11]

for ind in indices:
    if ind != index:
        print(restaurants_df.iloc[ind]['name'])

Restaurant: Benu
Sushi Zone
Muguboka Restaurant
Trattoria Contadina
Domo
The Old Clam House
Henry's Hunan Restaurant
Rintaro
Bac Lieu Restaurant
Mauerpark
El Mansour